.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

:root {
  --black: #1C1C1C;

  --dark-blue: #1F2937;
  --light-blue: #273549;

  --dark-green: #10B981;
  --neon-green: #5DEF92;
  --light-green: #ECFDF5;

  --dark-grey: #6B7280;
  --light-grey: #D5D4D8;
}

.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

body {
  background-color: var(--black);
}