.black-border {
  border: 1px solid black;
  box-sizing: border-box;
}

:root {
  --black: #1C1C1C;

  --dark-blue: #1F2937;
  --light-blue: #273549;

  --dark-green: #10B981;
  --neon-green: #5DEF92;
  --light-green: #ECFDF5;

  --dark-grey: #6B7280;
  --light-grey: #D5D4D8;
}

/* UTILITY CLASSES */
.no-margin {
  margin: 0 !important;
}

.no-padding {
  padding: 0 !important;
}

.bbox {
  box-sizing: border-box;
}

.medium-opacity {
  opacity: .5;
}

/* GENERIC CLASSES */
body {
  background-color: var(--black);
}

.text-content {
  /* content layout */
  display: flex;
  align-items: center;
  justify-content: center;

  /* styling */
  border-radius: 6px;
  /* border: none; */

  /* text */
  font-size: 16px;
  line-height: 24px;
  font-weight: 600;
}

main {
  position: relative;

  /* spacing and sizing */
  width: 90vw;
  max-width: 550px;
  margin: 64px auto;
  padding: 115px 52px;

  /* content layout */
  display: flex;
  flex-direction: column;
  gap: 25px;

  /* styling */
  background-color: var(--light-grey);
}

hr {
  width: 100%;
  height: 0;
  border-top: 1px solid black; 
}

.btn {
  /* spacing and sizing */
  width: 191px;
  height: 42px;

  /* cursor */
  cursor: pointer;
}

/* CONTENT SPECIFIC CLASSES */
.toggle-icon {
  /* sizing and spacing */
  height: 20px;
  width: 20px;

  /* positioning */
  position: absolute;
  top: 52px;
  left: 52px;

  /* cursor */
  cursor: pointer;
}

.password-section {
  /* content layout */
  display: grid;
  grid-auto-rows: 39px;
  grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
  gap: 16px 24px;
}

.password-container {
  width: 100%;
  height: 39px;
}